<div class="row mt-5">
  <div class="col-6 mx-auto">
    <div class="card border-success">
      <div class="card-header tile-linear-bg-success text-white font-weight-bold">
        <div class="d-flex justify-content-center">Search By Name</div>
      </div>
      <div class="card-body">
        <div *ngIf="form" class="row">
          <form [formGroup]="form" (ngSubmit)="submitForm(form)" class="col-6 mx-auto">
            <input type="text" class="form-control mb-2" formControlName="firstName" placeholder="First Name"
              aria-label="First Name" />
            <div class="input-group mb-2">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
                aria-label="Last Name" />
              <div class="input-group-append">
                <button type="submit" class="btn btn-info text-white">
                  Search <fa name="search"></fa>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div *ngIf="passports" class="row">
  <div class="col-12">
    <div class="card border-info">
      <div class="card-header tile-linear-bg-info text-white font-weight-bold">
        <span class="text-white">Results: {{passports.length}}</span>
      </div>
      <div class="card-body p-0">
        <div class="row">
          <div class="col-12">
            <table class="table table-hover table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col">User ID</th>
                  <th scope="col">First</th>
                  <th scope="col">Middle</th>
                  <th scope="col">Last</th>
                  <th scope="col">Job Title</th>
                  <th scope="col">Department</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr [routerLink]="['/passport/id']" [queryParams]="{ id: i.userId }" *ngFor="let i of passports">
                  <td>
                    {{ i.userId || "No Record" }}
                  </td>
                  <td>
                    {{ i.userFirstName || "No Record" }}
                  </td>
                  <td>
                    {{ i.userMiddleInitial || "No Record" }}
                  </td>
                  <td>
                    {{ i.userLastName || "No Record" }}
                  </td>
                  <td>
                    {{ i.userJobTitle || "No Record" }}
                  </td>
                  <td>
                    {{ i.userDepartment || "No Record" }}
                  </td>
                  <td>
                    {{ i.email || "No Record" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="submitted && !passports">
  <span class="text-danger d-flex justify-content-center">No results</span>
</div>
