a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.hoverlink:hover {
  background-color: rgb(231, 231, 231);
  transition: 0.25s;
}

.hoverlink:focus {
  background-color: rgb(192, 192, 192);
  transition: 0.25s;
}

.nav-bg-gradient-primary {
  background-image: linear-gradient(#e61336, #bd021b 6%, #c00202);
  border: 2px solid #bd021b;
}
