<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light
  nav-bg-gradient-primary text-white box-shadow mb-3 pb-3">
    <a class="navbar-brand" style="text-align: left; padding: 0;" [routerLink]="['/']">
      <img src="assets/speedway-logo-flat.png" height="50" class="d-inline-block align-top picture" alt=""
        style="border-radius: 5px;">
      <span class="navbar-brand text-white ml-5" onclick="this.blur();">
        LegacyData</span><span *ngIf="user && user.authenticated"
        class="text-white">|&nbsp;&nbsp;&nbsp;{{user.name}}</span>
    </a>
    <div class="container">
    </div>
    <button class="btn text-white home-button p-2 mr-5" onclick="this.blur()">
      <h4>
        &nbsp;<i class="fa fa-home"></i>&nbsp;
      </h4>
    </button>
    <div *ngIf="!user" class="mr-5">
      <button class="btn btn-lg tile-linear-bg-success text-white" id="signinbutton" (click)="login()"
        onclick="this.blur()">
        Sign In&nbsp;<i class="fa fa-sign-in"></i>
      </button>
    </div>
    <div *ngIf="user && user.authenticated" class="mr-5">
      <button class="btn btn-lg tile-linear-bg-danger text-white" id="signinbutton" (click)="logOut()"
        onclick="this.blur()">
        Sign Out&nbsp;<i class="fa fa-sign-out"></i>
      </button>
    </div>
  </nav>
</header>
