<div class="row mt-5">
  <div class="col-4 mx-auto">
    <div class="card border-dark">
      <div class="card-header bg-success text-white">
        <div class="d-flex justify-content-center">
          Search By Name
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="form" class="row">
          <form [formGroup]="form" (ngSubmit)="submitForm(form)" class="col-12 mx-auto">
            <input type="text" class="form-control mb-2" formControlName="firstName" placeholder="First Name"
              aria-label="First Name" />
            <div class="input-group mb-2">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
                aria-label="Last Name" />
              <div class="input-group-append">
                <button type="submit" class="btn btn-info">
                  Search <fa name="search"></fa>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div *ngIf="vtas" class="row">
  <div class="col-12">
    <div class="card border-info">
      <div class="card-header bg-info text-white">
        <span class="text-white">Results</span>
      </div>
      <div class="card-body p-0">
        <div class="row">
          <div class="col-12">
            <table class="table table-hover table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col">Employee ID</th>
                  <th scope="col">First</th>
                  <th scope="col">Middle</th>
                  <th scope="col">Last</th>
                  <th scope="col">Job Title</th>
                  <th scope="col">Department</th>
                </tr>
              </thead>
              <tbody>
                <tr [routerLink]="['/vta/id']" [queryParams]="{ id: i.emp_id }" *ngFor="let i of vtas">
                  <td>
                    {{ i.emp_id || "No Record" }}
                  </td>
                  <td>
                    {{ i.firstname || "No Record" }}
                  </td>
                  <td>
                    {{ i.m_init || "No Record" }}
                  </td>
                  <td>
                    {{ i.lastname || "No Record" }}
                  </td>
                  <td>
                    {{ i.job_title || "No Record" }}
                  </td>
                  <td>
                    {{ i.department || "No Record" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="submitted && !vtas">
  <span class="text-danger d-flex justify-content-center">No results</span>
</div>
